[submodule "/Users/johndaniel/Developer/blog/src/content"]
	path = /Users/johndaniel/Developer/blog/src/content
	url = https://github.com/norombabajd/content.git
[submodule "src/content"]
	branch = main
